* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  font-family: "Lato", sans-serif;
}
header {
  font-family: "Abril Fatface", cursive;
}
p,
label,
button {
  font-size: 1.6rem;
  font-weight: 300;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
