* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 45.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
p,
label,
button {
  font-size: 1.8rem;
  font-weight: 300;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
