header {
  height: 10vh;
  background: $eerie-black;
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(42, 42, 42, 1) 50%,
    rgba(50, 50, 50, 1) 100%
  );
  color: $linen;
  .logo-header {
    @include flex(flex-start, center, row);
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    height: 100%;
    margin: auto;
    margin-left: 2.3rem;
    letter-spacing: 0.2rem;
  }
  .dot {
    color: $orange;
    font-size: 3rem;
    margin-left: 0.2rem;
  }
  nav {
    position: relative;
    height: 100%;
  }
  .burger {
    position: absolute;
    top: 42%;
    right: 3%;
    transition: all 200ms ease;
  }
  .burger:hover {
    transform: scale(1.2);
  }
}
.burgerline {
  width: 2rem;
  height: 0.4rem;
  background: $linen;
  margin-bottom: 0.2rem;
  pointer-events: none;
}
main {
  height: 85vh;
  width: 100vw;
  margin: auto;
}
.current {
  height: 50vh;
  width: 100%;
  @include grid(0.5fr 1fr 0.5fr, 1);
  background: $jet;
}
.intro {
  grid-area: 2/1/2/2;
  text-align: center;
  background: lightcoral;
  height: 80%;
  width: 100%;
  margin: auto;
  @include flex(center, center, row);
}
.wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  grid-area: 1/2/2/3;
  @include grid(1, repeat(2, 1fr));
}
.clock-numbered {
  height: 100%;
  width: 100vw;
  text-align: center;
  @include flex(center, center, column);
  .info-wrap {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-style: italic;
    color: $lighter-orange;
    letter-spacing: 0.1rem;
  }
}
.time-wrap {
  color: $linen;
  width: 75%;
  height: 40%;
  margin-inline: auto;
  @include flex(space-evenly, center, row);
  span {
    font-size: 4rem;
  }
}
.other-tz {
  height: 35vh;
  @include grid(repeat(2, 1fr), 1fr 0.3fr);
  background: $jet;
}
.selected {
  grid-area: 1/2/1/3;
  text-align: center;
  align-self: center;
  p {
    margin-top: 2rem;
  }
}
.clock-edt,
.clock-jst,
.clock-msk {
  @include flex(center, center, row);
  background: $jet;
}
.clock-jst {
  grid-area: 1/2/1/2;
}
.clock-est {
  grid-area: 1/2/1/2;
}
.clock-msk,
.msk-div {
  display: none;
}
.timezone {
  color: $more-orange;
}

.clock {
  width: 19rem;
  height: 19rem;
  background: #212529;
  border-radius: 50%;
  border: 4px solid $eerie-light;
  position: relative;
  box-shadow: -6px -6px 12px rgba(44, 44, 44, 0.5),
    inset 6px 6px 12px rgba(0, 0, 0, 0.5),
    inset -6px -6px 12px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $jet;
  border-radius: 100%;
}
.outer::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.outer::after,
.outer::before,
.line {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 100%;
  background: $light-orange;
  z-index: 0;
  left: 49%;
}
// quarter lines
.line {
  width: 1.5px;
  background: #696666;
}
// yx axis for lines
.line1 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.line2 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
.line3 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}
.line4 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}
.inner {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: $jet;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  z-index: 1;
}
// inner circle
.inner::before {
  content: "";
  position: absolute;
  top: 47%;
  right: 48%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: $jet-darker;
  z-index: 20;
}
// clock hands
.hand {
  z-index: 19;
  position: absolute;
  right: 50%;
  top: 50%;
  height: 0.7rem;
  width: 50%;
  background: $davys-gray;
  border-radius: 1rem;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.11, 2.7, 0.59, 1.01);
}
.hour-hand {
  width: 30%;
  height: 0.45rem;
  z-index: 4;
}
.minute-hand {
  height: 0.45rem;
  width: 45%;
  z-index: 10;
}
.second-hand {
  background: $orange;
  width: 45%;
  height: 0.3rem;
}

.select-wrapper {
  grid-area: 2/2/2/3;
  @include grid(repeat(2, 1fr), 1);
}
.drop-down-area,
.drop-down-city {
  @include flex(space-evenly, center, column);
  height: 80%;
  width: 100%;
  margin: auto;
}
.new-tz {
  color: $orange;
}
footer {
  background: $eerie-black;
  background: linear-gradient(
    0deg,
    rgba(40, 38, 38, 1) 0%,
    rgba(42, 42, 42, 1) 47%,
    rgba(50, 50, 50, 1) 100%
  );
  color: $linen;
  height: 5vh;
}
.text-wrapper {
  text-align: center;
  color: $linen;
  letter-spacing: 0.1rem;
  p {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-style: italic;
  }
}
footer {
  @include flex(center, center, row);
}
.footer-text {
  letter-spacing: 0.1rem;
  font-style: italic;
  color: $linen;
  .name {
    margin-left: 0.3rem;
  }
}
.footer-icon {
  font-size: 2rem;
  margin-left: 1rem;
  i {
    pointer-events: none;
    color: $linen;
  }
}
