.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 99;
  @include grid(1, 0.35fr 1fr);
  background: white;
  position: relative;
}
.header-wrapper,
.area-wrapper {
  width: 100%;
  height: 100%;
}
.header-wrapper {
  margin: 0 0 2rem 2rem;
  h1,
  p {
    color: $linen;
  }
  h1 {
    margin-top: 2.5rem;
    font-size: 2.2rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}
.area-wrapper {
  @include grid(1fr, 0.5fr repeat(4, 1.25fr) 2fr);
  position: fixed;
  left: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: $jet;
  a {
    text-decoration: underline;
    color: $linen;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
  }
}
.nav-full-active {
  left: 0;
}
.icon {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 2%;
  right: 2%;
  i {
    pointer-events: none;
    font-size: 1.8rem;
    color: $eerie-black;
  }
}
.logo-header-inactive {
  display: none;
}
.options {
  position: relative;
  z-index: 3;
  display: none;
  margin-top: 1rem;
  select {
    width: 90%;
    font-size: 1.7rem;
    outline: none;
    border: none;
    background: $jet;
    color: white;
    border-radius: 1rem;
    margin-top: 1.5rem;
    appearance: none;
  }
}
.options::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  color: $orange;
  top: 46%;
  right: 15%;
  font-size: 1.6rem;
  pointer-events: none;
}
.options-active {
  display: block;
}
.option-area {
  margin: 2rem 0 0 2rem;
}
