$eerie-black: #1b1b1b;
$eerie-light: #353333;
$jet: #323232;
$jet-darker: #2b2929;
$bisque: #ffe7d0;
$linen: #e4d7cc;
$light-orange: #ffd5ad;
$lighter-orange: #fadbbf;
$orange: #fc6e20;
$cultured: #eeedf0;
$more-orange: #fd772e;
$davys-gray: #4c5458;
$alt-line-clr: #7d7c7c;

@mixin flex($justify, $align, $dir) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
@mixin grid($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}
